.navbar  {

  font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width:1px;
}

.header-left {
    color: #ffffff;
    font-size: 50px;
    padding-left: 180px;
    display: inline;
}

.header-right {
    color: #cccccc;
}

.container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

body{
    background-image: url("full-bloom.png");
}

.About-ME {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;

}

.navbar-header {
  background-color: #4aaaa5;  
  font-size: 25px;
  display: inline;
  color: #ffffff;
}

.navbar-header a {
    color: #ffffff;
}

.well {
    background-color: #ffffff;
}

.first-text {
    bottom: 447px;
    left: 40px;    
}

.about-image {
    max-width: 200px;
}

.second-text {
    bottom: 447px;
    left: 274px; 
}
.third-text {
    left: 40px; 
}
.fourth-text {
    bottom: 253px;
    left: 274px;
}
.fifth-text {
    bottom:60px;
    left:40px;
}

.footer {
    Position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: #666666;
    color:white;
    text-align:center;
    border-top-color: #4aaaa5;
    border-top-style:solid;
    border-top:10px;
}

.image-text {
    position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    color: #ffffff;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    top: 62%;
    width: 85%;
}

.image-box {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

.image-box-right {
    clear: right;
}